<div class="row"> 
	<div class="span4"> 
    	<div class="label label-info" align="center">
        	<h3 align="center">Sistema de inventarios</h3> 
       	</div>
        <p style="text-align: justify;">
          	El sistema de control de inventarios ofrece multiples ventajas:
			Integración total de la solución al conjuntar terminales de cómputo móvil, comunicaciones inalámbricas, identificacion de productos y un sistema administrativo central.
			Fácil control de Proveedores, productos y clientes.
			Herramienta sencilla de usar por lo que se disminuye el tiempo necesario para la implantación de la metodología.
			Identificación de productos de manera única y confiable.
			Mejor atención clientes.
			Sistema confiable para la entrega de mercancia al cliente.
			Certeza en la recepción de mercancia.
			Optimización de tiempo y de recursos al realizar el registro de informacion en linea mediante la tecnología de Cómputo móvil.
		</p> 		   
    </div> 
        <div class="span4">
        	<a class="brand" href="#"> <%= image_tag('inventarios.jpg') %></a> 
        </div>
        <div class="span4"> 
        	<div class="label label-info" align="center">
				<h3 align="center">Factura Electrónica</h3>
			</div>
          
          <p style="text-align: justify;">
          	El objetivo de este sistema es otorgarle validez legal tributaria a la factura electrónica 
          	como medio de respaldo de las operaciones comerciales entre contribuyentes y reemplazar con 
          	ello las facturas de papel que obliga a utilizar la actual normativa. Esto permite obtener 
          	mejoras en los procesos de negocios de los contribuyentes, disminuir sustantivamente los costos 
          	del proceso de facturación y facilita el desarrollo del comercio electrónico en nuestro país, 
          	contribuyendo de esta manera a impulsar la agenda tecnológica y de modernización del País.
		  </p> 		  
        </div> 
</div> 
