<h3>¿Quienes Somos?</h3> 			
<p style="text-align: justify;">
	Somos una empresa dedicada a desarrollar e implementar soluciones tecnológicas para la pequeña y mediana empresa (PyMES), 
	con el objetivo de proporcionar soluciones para mejora de los procesos y aumento de ganancias en la empresa.
	A través de nuestros servicios y soluciones provocamos:
</p>
<div class="row"> 
	<div class="span4">     	
       	<h4 align="center">Rentabilidad</h4> 
        <p style="text-align: justify;">
          	Optimización del flujo de efectivo en la empresa.<br>
			Reducción de costos y gastos empresariales.<br>
			Visibilidad y control de sus operaciones.
		</p> 		   
    </div>
    <div class="span4">     	
       	<h4 align="center">Diferenciación en el servicio</h4> 
        <p style="text-align: justify;">
          	Mejora la planeación de la empresa.<br>
			Asegurar Mejoras Practicas Empresariales.<br>
			Servicio alineado al cliente y con reducción o eliminación de errores.
		</p> 		   
    </div>
    <div class="span4">     	
       	<h4 align="center">Competitividad</h4> 
        <p style="text-align: justify;">
          	Evolución y Desarrollo de las competencias del Personal.<br>
	Sustentabilidad en los diferentes canales de venta y distribución.
		</p> 		   
    </div>
</div>