<footer id="footer-area"> 
	<div class="row"> 
        <div class="span4"> 
          <h3>¿Quienes somos?</h3> 
          <p style="text-align: justify;">
          	Somos una empresa dedicada a desarrollar e implementar soluciones tecnológicas para la pequeña y mediana empresa (PyMES), 
			con el objetivo de proporcionar soluciones para mejora de los procesos y aumento de ganancias en la empresa.
		  </p> 		  
          <p>
          	<%=link_to "Leer más...", quienes_somos_index_path %>          	         	
		  </p> 
        </div> 
        <div class="span4"> 
          <h3>Servicios</h3> 
          	<p style="text-align: justify;">
				Desarrollo de Software a la medida.<br>
				Consultoría.<br>
				Soporte.
			</p>
		  <p>
          	<%=link_to "Leer más...", quienes_somos_index_path %>          	         	
		  </p>  	
       </div> 
        <div class="span4"> 
          <h3>Soluciones</h3> 
          <p style="text-align: justify;">
          	Alfa control de inventarios le ayuda a registrar y a realizar un seguimiento de los materiales, 
          	según la cantidad y el valor. 
          	Puede reducir los costes de almacenamiento, transporte, cumplimiento de pedidos y manipulación de materiales y, 
          	a la vez, mejorar el servicio al cliente.
          </p>
		  <p>
          	<%=link_to "Leer más...", quienes_somos_index_path %>          	         	
		  </p> 
        </div> 
      </div> 
 
      <hr> 
 
      <small>   
        <p>&copy; Alfa</p>
       </small>    
      </footer> 